
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background:linear-gradient(90deg,red,black);
  font-family: Arial, Helvetica, sans-serif;
}
.App-link {
  color: #61dafb;
}

.divTableBody {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 85%;
  transform: translate(-50%,-50%);
}

.divTableRow {
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    margin-bottom: 2px;
    padding: 20px;
    background: red;
    border-radius: 10px;
}

.pokeImg {
  position: absolute;
  left: 84%;
  top: 28%;
  transform: translate(-50%,-50%);
}



input[type="text"] {
    font-size: 16px;
    /* border-radius: 10px; */
position: absolute;
    background: none;
    padding: 10px;
    border: none;
    border-bottom: solid black 3px;
    top: 2%;
  left: 70%;
}
input[type="submit"] {
  border: none;
  padding: 10px;
  font-size: 16px;
  background: gray;
  border-radius: 1000px;
  margin-left: 10px;
  position: absolute;
  top: 2%;
  left: 84%;
}

.titre {
  color:white;
  padding: 20px;
}

.info {
  color:white;
  margin-left: 20px;
  font-size: 16px;
}

.projet {
  color:white;
  font-weight: bold;
  margin-left: 20px;
}